@{
    ViewBag.Title = "Product Page";
}

<h1>Product Page</h1>


<form asp-action="Index" method="get">
    <button type="submit">Get Hello</button>
</form>
<p>@ViewBag.HelloMessage</p> 

<form asp-action="GetPersonalizedHello" method="post">
    <label for="name">Enter Name: </label>
    <input type="text" id="name" name="name" required />
    <button type="submit">Get Personalized Hello</button>
</form>
<p>@ViewBag.PersonalizedHelloMessage</p> 
